<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @RenderSection("styles", required: false)
</head>
<body>

  
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <img class="getpos" src="~/Content/assets/logo.png" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link getfotsize" href="@Url.Action("SignIn", "Account")">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link getfotsize" href="@Url.Action("SignUp", "Account")">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link getfotsize" href="@Url.Action("UserList", "Account")">View User List</a>
                    </li>

                </ul>
            </div>
        </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>